name: "Build legacy Nix package on Ubuntu"

on:
  push:

jobs:
  nixos_end_to_end_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v26
      - name: run cecks
        run: nix flake check
