[Unit]
Description=SSH Certificate Authority

[Service]
Environment="RUST_LOG=debug"
ExecStart=/run/current-system/sw/bin/ssh_ca_server -c /etc/ssh_ca/config.toml

[Install]
WantedBy=multi-user.target
